<configuration>
    <root level="ERROR">  <!-- Change level to ERROR to suppress INFO and lower -->
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.mongodb.driver" level="WARN"/> <!-- Suppress MongoDB logs -->
    <logger name="net.dv8tion" level="WARN"/>  <!-- Suppress JDA logs -->
</configuration>
